@import "tailwindcss";

html,
body {
  height: auto;
  min-height: 100%;
  overflow-x: hidden; /* common layout safety */
}

body {
  overflow-y: auto; /* ensure scroll isn't trapped */
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
